%div{"data-controller"=>"form-check-box"}
  = simple_form_for @task do |f|
    = f.input :title, label: 'Tytuł'
    = f.input :body, label: 'Treść'
    = f.input :completed, label: 'Ukończono?'
    = f.button :submit, 'Zapisz', class: 'btn btn-primary'